---
import Layout from '../components/Layout.astro';
import Nav from '../components/Nav.astro';
import { getUser } from '../utils/supabaseClient'
import { accessTokenName, refreshTokenName } from '../utils/config'

const accessToken = Astro.cookies.get(accessTokenName)?.value
const refreshToken = Astro.cookies.get(refreshTokenName)?.value

const userData = await getUser(accessToken, refreshToken)
console.log('userData', userData)

// the profile page is private 
if (!userData) {
    return Astro.redirect('/')
}
---

<Layout title="Profile" isLoggedIn={true}>
    <Nav activeUrl='profile' isLoggedIn={true} />

    <h2> Profile </h2>
    <div id='username' class='text-white'> username: { userData.username }<span/></div>
    <div id='website' class='text-white'> website: { userData.website } <span/></div>
</Layout>
